

.flexcontainer {
    width: 100px;
    height: 100px;
    background: yellow; 
    transition-property: width;
    transition-duration: 2s;
    transition-timing-function: linear;
    transition-delay: 1s;
}

.flexcontainer:hover {
    background: pink;
    transform: translate(0,331px);
    color: yellow;
    transition-duration: 3s;
    transition: ease-in-out;

}
 
/*I tried to get the yellow box to not look like a glitch when it transitions,
but I found no success :(*/

@keyframes homework {
    0%   {background-color:teal; left:0px; top:0px;}
    25%  {background-color:blue; left:300px; top:0px;}
    50%  {background-color:purple; left:300px; top:331px;}
    75%  {background-color:pink; left:0px; top:331px;}
    100% {background-color:orange; left:0px; top:0px;}
}


#homework {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: pink;
    animation-name: homework;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}